name: Build & Push on commit

on:
  push:
    paths:
      - 'targets/**'
    branches: [ main, develop ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-push:
    name: "Build & Push on commit"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: type=sha,prefix={{branch}}-

      - name: Build and push Docker image - kindle
        uses: docker/build-push-action@v4
        with:
          context: .
          file: targets/kindle/docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}-kindle
          labels: ${{ steps.meta.outputs.labels }}